.articulo{
    color: #d9e9ff;
}
.tituloarticulos{
    color: #f0f7ff;
    font-size: 55px;
    text-align: center;
    margin-top: 20px;
}
.boton {
    background-color: #3279ff;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  .boton:hover {
    background-color: #1b57f5;
    transform: translateY(-5px);
  }



.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: start;
    margin-right: 10em;
}

.div1{
    padding-top: 50px;
    justify-self: end;
    margin-right: 15px;
    height: 100%;
}
    

.div2 {
    grid-column: span 4 / span 4;
    font-size: 22px;
    height: 100%;
    border-bottom: 1px solid #45556c;
    padding-top: 50px;
    align-self: center;
    
}

.div3 {
    grid-column: span 2 / span 2;
    grid-row: span 5 / span 5;
    grid-column-start: 2;
    grid-row-start: 2;
    border-bottom: 1px solid #45556c;
    margin-bottom: 30px;
    height: 100%;
    padding: 0px 10px;
}

.div4 {
    grid-row: span 2 / span 2;
    grid-column-start: 4;
    grid-row-start: 2;
    padding: 0px 10px;
    justify-self: center;
}

.div5 {
    grid-column-start: 5;
    grid-row-start: 2;
    padding: 5px 10px;
}

.div6 {
    grid-column-start: 5;
    grid-row-start: 3;
    padding: 5px 10px;
}

.div7 {
    grid-column-start: 4;
    grid-row-start: 4;
    padding: 0px 10px;
}

.div8 {
    grid-column-start: 5;
    grid-row-start: 4;
    padding: 5px 10px;
}

.div9 {
    grid-column: span 2 / span 2;
    grid-column-start: 4;
    grid-row-start: 5;
    padding: 5px 10px;
}

.div10 {
    grid-column: span 2 / span 2;
    grid-column-start: 4;
    grid-row-start: 6;
    height: 100%;
    border-bottom: 1px solid #45556c;
    padding: 0px 10px;
}
        