.profesorbody{
    height: 90vh;
    display: flex;
    
    align-items: center;
}

.profesorContainer{
    color: aliceblue;
    display: flex;
    margin: 0px 110px;
    background-color: #406e9b;
    justify-content: space-between;
    height: 400px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    align-items: center;
}
.profesorImagen{
    max-width: 200px;
    max-height: 200px;
    border-radius: 50%;
    margin: 0px 20px;
}
.profesorNombreContainer{
    width: 100%;
}
.profesorInfo{
    
    padding: 3%;
    background-color: #000000;

}
.profesorTitulos
{
    margin-left: 10%;
    padding: 10px;
}
.profesorNombre{
    font-size: 22px;
    font-weight: bold;
    margin: 30px 10px;
    
}
