.profesorbody{
    height: 100%;
    
    color: aliceblue;
    margin-top: 120px;
}

.profesorContainer{
    display: flex;
    margin: 0px 110px;    
    background-color: #0e0e11;
    border-left: 25px solid #3279ff;


    justify-content: space-between;
    height: 600px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.8);
    border-radius: 15px;
    align-items: center;
}
.profesorImagen{
    width: 450px;
    height: 450px;
    margin: 0px 20px;
}
.profesorNombreContainer{
    text-align: center;
    width: 100%;
}
.profesorInfo{
    
    padding: 3%;

}
.profesorTitulos
{
    margin-left: 10%;
    padding: 10px;
}
.profesorNombre{
    text-align: center;
    font-size: 55px;
    font-weight: bold;
    margin: 30px 10px;
    border-bottom: 1px solid #3279ff;
    
}
.profesorArticulos{
    margin-top: 5%;
    margin-left: 10%;

}
.profesorProyectos{
    margin: 5%;
    margin-left: 10%;
}
