:root {
  --primary-color: #3498db;
  --secondary-color: #3279ff;
  --background-color: #18181b;
  --text-color: #333;
  --header-bg: #000b49;
  --header-text: #eef5ff;
  --footer-bg: #142157;
  --footer-text: #eef5ff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  line-height: 1.6;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  

}
.logo{
  position: absolute;
  width: 100px;
  height: 100px;
  left: 7%;
  border-radius: 15px 0 15px 0 ;
}
.header {
  background-color: var(--header-bg);
  color: var(--header-text);
  padding: 20px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
}

.header h1 {
  margin: 0;
  font-size: 2rem;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 5px;
  margin-top: 5px;
  margin-left: 70px;
  
}

.nav-links li {
  display: inline;
  
}

.nav-links a {
  color: white;
  text-decoration: none;
  padding: 5px 25px;
  display: block;
  width: 100%;
  transition: background-color 0.3s ease;
}

.nav-links a:hover {
  color: var(--secondary-color);
  
  background-color: rgba(255, 255, 255, 0.2);
}

.nav-links button {
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  text-align: left;
  padding: 10px 10px;
  width: 100%;
  transition: background-color 0.3s ease;
}

.nav-links button:hover {
  color: var(--secondary-color);
  background-color: rgba(255, 255, 255, 0.2);
}

.menu-desplegable {
  
  position: absolute;
  background-color: #3279ff;
  border-right: 1px solid #d9e9ff;
  border-bottom: 1px solid #d9e9ff;

  width: 200px;
  margin-top: 10px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: flex-start;
  z-index: 1000;

}

.menu-desplegable .menu-desplegableprofesores {
  position: absolute;
  background-color: #3279ff;
  border-right: 1px solid #d9e9ff;
  border-bottom: 1px solid #d9e9ff;
  width: 300px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: flex-start;
  z-index: 1000;
}
.menu-desplegable .menu-desplegablealumnos {
  padding-left: 10px;
  
}

.menu-desplegable button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.menu-desplegable a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.footer {
  background-color: var(--footer-bg);
  color: var(--footer-text);
  text-align: center;
  padding: 20px 0;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.footer p {
  margin: 0;
  font-size: 0.9rem;
}