.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 80px 0;
  }
  .bannerImagen {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    height: 400px;
  }
  .imagecumtom{
    object-fit: cover;
  }

  
  
  

  /* Sección 1 */
  .section1 {
    background: linear-gradient(135deg, #000b49 10%, #589eff);
    color: white;
    height: 90vh;
    text-align: center;
    padding: 100px 0;
    display: flex;
    align-items: center;
    gap : 20px;
  }
  
  .section1 h1 {
    font-size: 3rem;
    margin-bottom: 20px;
  }
  .section1 .textoContainer {
    background-color: #0e0e11;
    margin: 0 30px;
    padding: 40px;
    border-radius: 20px;
    color: #d9e9ff;
    

  }
  
  .section1 p {
    font-size: 16px;
    margin-bottom: 30px;
    padding: 30px;
    
  }
  .section1 .customlabImagen{
    object-fit: cover;
    width: auto;
    height: auto;
    margin: 0 30px;
    box-shadow: 1px 8px 16px rgba(0, 0, 0, 0.5);
    

  }
  
  
  /* Sección 2 */
  .section2 {
    background-color: #0e0e11;
    text-align: center;
  }
  
  .section2 h2 {
    font-size: 2.5rem;
    margin-bottom: 40px;
    color: #1b57f5;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
  }
  .btncard{
    text-decoration: none;
  }
  .card {
    background-color: #d9e9ff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    
  }
  
  .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  }
  
  .card h3 {
    font-size: 1.5rem;
    margin-bottom: 15px;
    color: #1b57f5;
  }
  
  .card p {
    font-size: 1rem;
    color: #555;
  }
  
  /* Sección 3 */
  .section3 {
    background: linear-gradient(135deg, #589eff, #000b49);
    color: white;
    height: 90vh;
    text-align: center;
    display: flex;
    align-items: center;
    gap : 50px;
  }
  .section3 .textoContainer {
    
    border-top: 1px solid #d9e9ff;
    padding-top: 30px;
    margin: 0 10px;
  }
  .section3 .customlabImagen{
    object-fit: cover;
    width: auto;
    height: auto;
    margin: 0 20px;
    box-shadow: 5px 8px 16px rgba(0, 0, 0, 0.5);
  }
  .section3 li{
    text-align: left;
    margin: 5px;
    margin-left: 80px;
  }
  .section3 h2 {
    font-size: 1.5rem;
    
  }
  
  /* Sección 4 */
  .section4{
    height: 80vh;
    background-color: #0e0e11;
    text-align: center;
    padding: 50px 0;
    color: #d9e9ff;
  }
  .section4 li{
    text-align: left;
    margin: 5px;
    margin-left: 80px;
  }
  .section4 h2 {
    font-size: 2.5rem;
    margin-bottom: 110px;
    color: #d9e9ff;
  }
  .section4 .textoContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;

  }

  
  /* Sección 5 */
  .section5 {
    background: linear-gradient(160deg, #000b49, #589eff);
    color: white;
    text-align: center;
    padding: 50px 0;
    
  }
  .section5 .customlabImagen{
    object-fit: cover;
    width: auto;
    height: auto;
    margin: 0 20px;
    box-shadow: 5px 8px 16px rgba(0, 0, 0, 0.5);
    filter: brightness(0.8);
  }
  .section5 h2 {
    font-size: 2.5rem;
    margin-bottom: 10px
  }

