.alumnobody{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.alumnoContainer{
    color: aliceblue;
    display: flex;
    margin: 0px 110px;
    background-color: #3279ff;
    justify-content: space-between;
    height: 400px;
    width: 600px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    align-items: center;
}
.alumnoImagen{
    max-width: 200px;
    max-height: 200px;
    border-radius: 50%;
    margin: 0px 20px;
}
.alumnoNombreContainer{
    width: 100%;
}
.alumnoTitulos
{
    margin-left: 10%;
    padding: 10px;
}